<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Edición de empleado</h3>
  <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nombre : </label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Digite su nombre">
      <div class="alert alert-danger" *ngIf="empleadoForm.get('nombre').hasError('required') && (empleadoForm.get('nombre').dirty || empleadoForm.get('nombre').touched)">
        Digite su nombre por favor
      </div>
      <div class="alert alert-danger" *ngIf="empleadoForm.get('nombre').hasError('minlength')">
        El nombre tiene que contener como mínimo 4 caracteres
      </div>
      <div class="alert alert-danger" *ngIf="empleadoForm.get('nombre').hasError('maxlength')">
        El nombre tiene que tener como máximo 10 caracteres
      </div>
    </div>

    <div class="form-group">
      <label>Apellido : </label>
      <input type="text" class="form-control" id="apellido" formControlName="apellido" placeholder="Digite su apellido">
      <div class="alert alert-danger" *ngIf="empleadoForm.get('apellido').hasError('required') && (empleadoForm.get('apellido').dirty || empleadoForm.get('apellido').touched)">
        Digite su apellido por favor
      </div>
      <div class="alert alert-danger" *ngIf="empleadoForm.get('apellido').hasError('minlength')">
        El apellido tiene que contener como mínimo 4 caracteres
      </div>
      <div class="alert alert-danger" *ngIf="empleadoForm.get('apellido').hasError('maxlength')">
        El apellido tiene que tener como máximo 10 caracteres
      </div>
    </div>
    <div class="form-group">
      <label>Email : </label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Digite su email">
      <div class="alert alert-danger" *ngIf="empleadoForm.get('email').hasError('required') && (empleadoForm.get('email').dirty || empleadoForm.get('email').touched)">
        Digite su email por favor
      </div>
      <div class="alert alert-danger" *ngIf="empleadoForm.get('email').hasError('pattern')">
        Por favor, digite el email con el siguiente formato: user100@gmail.com
      </div>
    </div>
    <button class="btn btn-success" [disabled]="!empleadoForm.valid">Guardar</button>
  </form>
</div>
